body {
  background-image: url(https://i.pinimg.com/originals/ec/c2/12/ecc2124116aa5a0ee1bc466c7b69dd8a.gif);
  color: white;
}
h1 {
  font-size: 50px;
  background-color: rgba(238, 241, 245, 0.212);
  color:lightpink;
  margin:2em;
}
.prompt {
  font-size: 30px;
}

#firstOne,
#secondOne,
#thirdOne,
#forthOne
{ 
    display: none;
}
.container {
  text-align: center;
  margin-top: 2em;
}
.form-control {
  margin:1.5em;
  background-color:lightgray
}
button {
  background-color: tomato;
  color:white;
  padding: 5px;
  border-radius: 10px;
  font-weight:bold
}